<!doctype html>
<html lang="zh-CN">
<head>
    <% include base/link.ejs %>
    <link href="stylesheets/resume.css" rel="stylesheet">
</head>
<body>
<div class="container ">
    <div class="row">
        <div class="col-lg-12">
            <div class="hr-40"></div>
        </div>
    </div>
    <div class="panel panel-default box-shadow border-none border-radius">
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 .col-sm-12 col-xs-12">
                        <div class="page-header">
                            <h2><a href="/blogs">LIGHTCOLORS</a><br>
                                <small>node for blog</small>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">

                        <div class="page-header">
                            <h4><%= title %>
                                <small class="badge">node for blog</small>
                            </h4>
                        </div>
                        <div class="hr-20"></div>
                        <div class="jumbotron" style="background: #FFFFFF;padding: 0">
                            <h3>JIANGWEI<br>
                                <small>LIGHTCOLORS.CN</small>
                            </h3>
                            <p><small>Web Developer , Node , UI Design.</small></p>
                            <div>
                                <ul style="list-style: none;padding: 0">
                                    <li><a href="mailto:jiangwei.john@foxmail.com">jiangwei.john@foxmail.com</a>
                                    </li>
                                    <li><a href="http://www.lightcolors.cn">www.lightcolors.cn</a></li>
                                    <li><a target="_blank" href="https://github.com/Codecss" title="github">GitHub</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <% include footer.ejs %>
        </div>
    </div>
</div>
</body>
</html>
<script src="../js/lib/require.js"></script>
<script src="../js/config.js"></script>