<div class="footer">COPYRIGHT @ 2015 JIANGWEI</div>
<script type="text/javascript" src="http://libs.useso.com/js/jquery/1.4.1/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/account.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".nav a").each(function () {
            $this = $(this);
            if ($this[0].href == String(window.location)) {
                $this.addClass("current");
            }
            if ($this[0].href === '/') {
                alert(1)
            }
        });
    });
</script>
</body>
</html>