<% include header-index.ejs %>
<div class="index-container">
    <div class="index-content">
        <h1 class="index-content-title" title="个人博客描述">记录生活与工作的点点滴滴</h1>
        <p>LIGHTCOLORS.CN</p>
        <a href="/blogs" class="btn" title="">开启我的博客</a>
    </div>
</div>
</body>
</html>
