<% include header.ejs %>
<link rel="stylesheet" href="kindeditor/themes/default/default.css"/>
<link rel="stylesheet" href="kindeditor/themes/simple/simple.css"/>

<div class="post-content">
    <div class="login-reg-title"><%= title %></div>
    <form class="form-post" name="post" method="post" action="">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
            <tr>
                <td class="form-name">标题:</td>
                <td class="form-input"><input name="title" type="text" placeholder="title">
            </tr>
            <tr>
                <td class="form-name">分类:</td>
                <td class="form-input"><input name="category" type="text" placeholder="category"></td>
            </tr>
            <tr>
                <td class="form-name" style="vertical-align: top">简介:</td>
                <td class="form-input"><textarea id="editor_id_1" name="intro" placeholder="intro"></textarea></td>
            </tr>
            <tr>
                <td class="form-name" style="vertical-align: top"> 内容:</td>
                <td class="form-input"><textarea id="editor_id_2" placeholder="这里输入内容" autofocus name="post"></textarea>
                </td>
            </tr>
            <tr>
                <td class="form-btn" colspan="2"><input class="btn" type="submit" value="提交"></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<script src="http://libs.useso.com/js/jquery/2.0.1/jquery.min.js"></script>
<script src="javascripts/account.js"></script>
<script src="kindeditor/kindeditor-all-min.js"></script>
<script src="kindeditor/lang/zh-CN.js"></script>
<script>
    KindEditor.ready(function (K) {
        window.editor = K.create('#editor_id_1');
    });
    KindEditor.ready(function (K) {
        window.editor = K.create('#editor_id_2');
    });
    $(document).ready(function () {
        $(".nav a").each(function () {
            $this = $(this);
            if ($this[0].href == String(window.location)) {
                $this.addClass("current");
            }
            if ($this[0].href === '/') {
                alert(1)
            }
        });
    });
</script>
</body>
</html>
