<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <%include base/link.ejs%>
</head>
<body>
<div class="container ">
    <div class="row">
        <div class="col-lg-12">
            <div class="hr-40"></div>
        </div>
    </div>
    <div class="panel panel-default box-shadow border-none border-radius">
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 .col-sm-12 col-xs-12">
                        <div class="page-header">
                            <h2><a href="/blogs">LIGHTCOLORS</a><br>
                                <small>node for blog</small>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">

                        <div class="page-header">
                            <h4><%= title %>
                                <small class="badge">node for blog</small>
                            </h4>
                        </div>
                        <form class="form" name="login" method="post">
                            <table class="table" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr>
                                    <td class="form-name">Name:</td>
                                    <td class="form-input"><input class="form-control" name="username" type="text" placeholder="name"></td>
                                    <td class="form-tips"><span class="alert-name alert-name-danger" style="display: none;"></span></td>
                                </tr>
                                <tr>
                                    <td class="form-name">Password:</td>
                                    <td class="form-input"><input class="form-control" name="password" type="password"
                                                                  placeholder="password"></td>
                                    <td class="form-tips"><span class="alert-password alert-password-danger"
                                                                style="display: none;"></span></td>
                                </tr>
                                <tr>
                                    <td class="form-name">Password-repeat:</td>
                                    <td class="form-input"><input class="form-control" id="password1" name="password-re" type="password"
                                                                  placeholder="password-repeat"></td>
                                    <td class="form-tips"><span class="alert-password-re alert-password-re-danger"
                                                                style="display: none;"></span></td>
                                </tr>
                                <tr>
                                    <td class="form-name">Email:</td>
                                    <td class="form-input"><input class="form-control" name="email" type="email" placeholder="Email"></td>
                                    <td class="form-tips"><span class="alert-email alert-email-danger" style="display: none;"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-btn" colspan="3"><input class="btn" value="提交" type="submit"></td>
                                </tr>
                                </tbody>
                            </table>
                            <span class="alert alert-danger" style="display: none;"></span>
                            <span class="alert alert-success" style="display: none;"></span>
                        </form>
                        <div class="login-to-reg">已有账户？<a href="/login">请登录</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <% include footer.ejs %>
        </div>
    </div>
</div>
</body>
</html>