<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <% include base/link.ejs %>
</head>
<body>
<div class="container ">
    <div class="row">
        <div class="col-lg-12">
            <div class="hr-40"></div>
        </div>
    </div>
    <div class="panel panel-default box-shadow border-none border-radius">
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 .col-sm-12 col-xs-12">
                        <div class="page-header">
                            <h2><a href="/blogs">LIGHTCOLORS</a><br>
                                <small>node for blog</small>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">

                        <div class="page-header">
                            <h4><%= title %>
                                <small class="badge">node for blog</small>
                            </h4>
                        </div>
                        <form class="form-post" name="post" method="post" action="">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td class="form-name">标题:</td>
                                    <td class="form-input"><input class="form-control" name="title" type="text"
                                                                  value="<%= posts.title %>">
                                </tr>
                                <tr>
                                    <td class="form-name">分类:</td>
                                    <td class="form-input"><input class="form-control" name="category" type="text"
                                                                  value="<%= posts.category %>"></td>
                                </tr>
                                <tr>
                                    <td class="form-btn" colspan="2"><input class="btn btn-default" type="submit" value="提交"></td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <% include footer.ejs %>
        </div>
    </div>
</div>
</body>
</html>
<script src="http://libs.useso.com/js/jquery/2.0.1/jquery.min.js"></script>
<script src="/javascripts/account.js"></script>
<script src="/kindeditor/kindeditor-all-min.js"></script>
<script src="/kindeditor/lang/zh-CN.js"></script>
<script>
    KindEditor.ready(function (K) {
        window.editor = K.create('#editor_id_1');
    });
    KindEditor.ready(function (K) {
        window.editor = K.create('#editor_id_2');
    });
</script>