/**
 * Created by jiangwei.john@foxmail on 2016/4/6.
 */
@charset "UTF-8";
@import "UI";
//重置

body {
  background-color: #ededed;
}

.box-shadow {
  .box-shadow()
}
.border-none{
  border: none;
}
.border-radius{
  .border-radius(0)
}
/*导航栏 -start- */
.body-index {
  background-image: url(../images/bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*回到顶部*/
.up-top {
  background: #FFFFFF;
  .border-radius(4px)
}

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 14px;
}


.backToTop {
  position: fixed;
  width: 123px;
  height: 123px;
  z-index: 999;
  bottom: 0;
  right: 0;
  cursor: pointer;
  background: url(../images/up.png) no-repeat;
  background-size: cover;
}