@charset "UTF-8";
//css hack
@ie9-10: ~"\9\0"; // only for IE9&IE10
@ie8-10: ~"\0"; //only for IE8&IE9&IE10
@ie6-10: ~"\9"; //only for IE6&IE7&IE8&IE9&IE10

//基础颜色
@orange: #F35E0E;
//动画-渐变
.transition(@css,@time,@speedType,@delay) {
  transition: @css @time, @speedType, @delay;
  transition: @css @time @ie9-10;
  -webkit-transition: @css @time, @speedType, @delay;
  -o-animation: @css @time, @speedType, @delay;
  -moz-animation: @css @time, @speedType, @delay;
}

//基础阴影
.boxShadow(@o,@t,@th,@f,@A) {
  box-shadow: @o @t @th rgba(0, 0, 0, @A);
  -webkit-box-shadow: @o @t @th rgba(0, 0, 0, @A);
  -o-box-shadow: @o @t @th rgba(0, 0, 0, @A);
  -moz-box-shadow: @o @t @th rgba(0, 0, 0, @A);
}

//基础圆角
.border-radius(@radius) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

//划过阴影
.box-shadow () {
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  .boxShadow(0, 0, 1px, 0, 0.1);
  .transition(box-shadow, 0.5s, linear, 0s);
  &:hover {
    border: 1px solid #FFFFFF;
    border: 1px solid #F0F0F0 @ie8-10;
    *border: 1px solid #F0F0F0;
    .boxShadow(0, 2px, 10px, 1px, 0.1);
  }
}

//基础按钮
.btn(@width,@height,@lheight,@hwidth,@hheight) {
  display: inline-block;
  width: @width;
  height: @height;
  line-height: @lheight;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  background: transparent;
  color: @orange;
  border: 1px solid @orange;
  .transition(color, 0.15s, ease, 0s);
  position: relative;
  .border-radius(6px);
  z-index: 1;
  &:before,
  &::before {
    .border-radius(6px);
    position: absolute;
    width: 0;
    background: @orange;
    content: "";
    .transition(width, 0.15s, ease, 0s);
    z-index: -1;
    top: -1px;
    left: -1px;
    height: @hheight;
  }
  &:hover {
    color: #FFF;
    color: @orange @ie8-10;
    color: #FFF @ie9-10;
    *color: @orange;
  }
  &:hover:before {
    width: @hwidth;
  }
}

//间距
.hr-20 {
  width: 100%;
  height: 20px;
}

//下划线
.underline {
  width: 80%;
  height: 1px;
  margin-left: 20px;
  background: #CCCCCC;
}

/*导航栏 -start- */
.header {
  background: #FFF;
  width: 100%;
  height: 72px;
  border-bottom: 0 solid transparent;
  border-bottom: 1px solid #F0F0F0 @ie8-10;
  border-bottom: 0 solid #F0F0F0 @ie9-10;
  *border: 1px solid #F0F0F0;
  .boxShadow(0, 1px, 1px, 0, 0.1);
  overflow: hidden;
  .header-container {
    width: 1200px;
    margin: 0 auto;
    .logo {
      float: left;
      .logo-container {
        display: inline-block;
        width: 72px;
        height: 72px;
        background: url(../images/logo.png) no-repeat center;
      }
      span {
        vertical-align: top;
        line-height: 72px;
        font-size: 34px;
        font-family: sans-serif;
        padding-left: 94px;
      }
    }
    .login-btn {
      float: right;
      padding-left: 40px;
      line-height: 72px;
      a {
        .btn(48px, 23px, 23px, 50px, 25px);
        font-size: 12px;
        font-weight: 400;
      }
    }
    .nav {
      float: right;
      overflow: hidden;
      border: 0;
      li {
        float: left;
        a {
          display: block;
          position: relative;
          min-width: 40px;
          line-height: 72px;
          padding: 0 20px;
          text-align: center;
          color: #666;
          font-size: 14px;
          font-weight: 700;
          &:hover {
            color: @orange;
          }
          &::before,
          &:before {
            content: "underline";
            display: block;
            position: absolute;
            width: 0;
            height: 4px;
            bottom: 0;
            left: 0;
            background: @orange;
            transition: width 1s ease;
          }
          &:hover:before,
          &:hover::before {
            width: 100%;
          }
          &.current {
            color: @orange;
            &:after,
            &::after {
              content: "underline";
              display: block;
              width: 100%;
              position: absolute;
              height: 4px;
              bottom: 0;
              left: 0;
              background: @orange;
            }
          }
        }
      }
    }
  }
}

/*首页 -start*/
html, body {
  width: 100%;
  height: 100%;
}

.header-index {
  .header();
  position: fixed;
  top: 0;
  z-index: 1;
  background: transparent;
  border-bottom: 0;
  .boxShadow(0, 0, 0, 0, 0);
  .header-container {
    .login-success,
    .login-btn {
      span {
        color: #FFF;
      }
    }
    .nav {
      li {
        a {
          color: #FFF;
        }
      }
    }
  }
  a {
    color: #FFF;
  }
}

.index-container {
  width: 100%;
  height: 100%;
  background-image: url(../images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  text-align: center;
  .index-content {
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    h1, p {
      text-align: center;
      color: #FFF;
      font-size: 48px;
      font-family: sans-serif;
      font-weight: 400;
    }
    p {
      font-size: 24px;
      padding: 20px 0;
    }
    a {
      .btn(200px, 50px, 50px, 202px, 52px);
    }
  }

}

/*首页 -end*/

/*关于我 -start- */
.about {
  width: 100%;
  height: 100%;
  background-image: url(http://t1.youjian8.net/2016/04/03/96d0cefe4472f32b0d37cc6bbcf20c59.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .about-content {

  }
}

/*关于我 -end- */