<% var counts = Math.ceil(count / limit) %>
<% console.log(counts); %>
<div class="page">
    <ul>
        <li><a href="/blogs?page=<%= 1 %>">首页</a></li>
        <li><a href="/blogs?page=<%= counts %>">末页</a></li>
        <li>当前 <%= page %> 页</li>
        <li>共 <%= counts %> 页</li>
    </ul>
</div>